*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
*.log
/gradle/wrapper/gradle-wrapper.jar
.env
*.xcworkspace
Pods/
DerivedData/
*.xcframework
*.hmap
*.module
.kotlin